

h1{
    color: rgb(0, 0, 0);
    position: relative;
    margin-top: 23%;
    font-weight: 800;
    font-size: 60px;
}
body{
    text-align: center;
    align-content: center;
    background-color: #76d8ff;
}